@model Intex.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<!--Scaffolded page that displays the details of a current invoice-->
<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalMatCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMatCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EarlyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarlyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EarlyDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarlyDiscount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
