@model IEnumerable<Intex.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h2 style="padding-bottom:20px">Invoice History</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotalMatCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarlyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarlyDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th></th>
    </tr>
@{ int i = 0;}
@foreach (var item in Model)
{
    <tr>
        <!--These if statements turn the text red if they are past the due date and not paid-->
        @{ if (item.DueDate <= DateTime.Today && item.PaymentStatus != "Paid")
            {
                <td>
                    <span style="color: red;">
                        $@Html.DisplayFor(modelItem => item.TotalMatCost)
                    </span>
                </td>
            }
            else
            {
                <td>
                    $@Html.DisplayFor(modelItem => item.TotalMatCost)
                </td>
            }
        }
        @{ if (item.DueDate <= DateTime.Today && item.PaymentStatus != "Paid")
            {
                <td>
                    <span style="color: red;">
                        @Html.DisplayFor(modelItem => item.ClientID)
                    </span>
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ClientID)
                </td>
            }
        }
        @{ if (item.DueDate <= DateTime.Today && item.PaymentStatus != "Paid")
            {
                <td>
                    <span style="color: red;">
                        @ViewBag.ddates[i]
                    </span>
                </td>
            }
            else
            {
                <td>
                    @ViewBag.ddates[i]
                </td>
            }
        }
        @{ if (item.DueDate <= DateTime.Today && item.PaymentStatus != "Paid")
            {
                <td>
                    <span style="color: red;">
                        @ViewBag.edates[i]
                    </span>
                </td>
            }
            else
            {
                <td>
                    @ViewBag.edates[i]
                </td>
            }
        }
        @{ if (item.DueDate <= DateTime.Today && item.PaymentStatus != "Paid")
            {
                <td>
                    <span style="color: red;">
                        $@Html.DisplayFor(modelItem => item.EarlyDiscount)
                    </span>
                </td>
            }
            else
            {
                <td>
                    $@Html.DisplayFor(modelItem => item.EarlyDiscount)
                </td>
            }
        }
        @{ if (item.DueDate <= DateTime.Today && item.PaymentStatus != "Paid")
            {
                <td>
                    <span style="color: red;">
                        @Html.DisplayFor(modelItem => item.PaymentStatus)
                    </span>
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentStatus)
                </td>
            }
        }
    </tr>
                i++;
            }
</table>


