@model IEnumerable<Intex.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h2 style="padding-bottom:20px">Invoice History</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotalMatCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarlyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarlyDiscount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMatCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarlyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarlyDiscount)
        </td>
    </tr>
}

</table>


