@model IEnumerable<Intex.Models.Compound>

@{
    ViewBag.Title = "Compound";
}


<h2>Work Order: @ViewBag.WorkOrder.WorkOrderNum</h2>

<p>
    @Html.ActionLink("Back to All Orders", "Current")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LTNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SequenceCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompStatusID)
        </th>
        <th>
            Estimated Completion Date
        </th>
    </tr>
    @{int i = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LTNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SequenceCode)
            </td>
            <td>
                @ViewBag.theAssays[i].AssayName.ToString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompName)
            </td>
            <td style="color: steelblue">
                <strong>@ViewBag.CompStatus[i].CompStatusDesc.ToString()</strong>
            </td>
            <td>
                @ViewBag.dates[i]
            </td>
        </tr>
        i++;
    }

</table>
