@model IEnumerable<Intex.Models.WorkOrder>

@{
    ViewBag.Title = "CurrentOrders";
}

@{ 
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<h2>Work Orders In Progess</h2>
<h3>Click to see details</h3>

<p>
    @Html.ActionLink("Create New Work Order", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatusID)
        </th>
        <th></th>
    </tr>
    @{ int i = 0;}
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.WorkOrderNum.ToString(), "Compound", new { id = item.WorkOrderNum})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @ViewBag.OrderStatus[i].OrderStatusDesc.ToString()
        </td>
        <td>
            @Html.ActionLink("Details", "Compound", new { id=item.WorkOrderNum })
        </td>
    </tr>
    i++;
}

</table>
