@model Intex.Models.Compound

@{
    ViewBag.Title = "Details";
}
@{
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<h2>Work Order Details</h2>

<div>
    <h4>Compound</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssayId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriorityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompAppearance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompAppearance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompClientWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompClientWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompMoleMass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompMoleMass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompMTD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompMTD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompActualWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompActualWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompConcentration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompConcentration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompStatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsableResults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsableResults)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
