@model Intex.Models.WorkOrders

@{
    ViewBag.Title = "Details";
}
@{
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WorkOrders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatusID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkOrderNum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
