@model Intex.Models.Client

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/CustomStyleSheet.css" />
<div class="container">
    <h1> @Model.ClientName's Customer Portal</h1>

</div>
<div class="jumbotron">
    <img style="height:175px; width:175px" src="~/Content/Images/tools.png" />
    <div class="container-right">
        <a class="button" href="@Url.Action("Create", "WorkOrders", new {ViewBag.Compound, ViewBag.number}, null)"> Create a New Work Order </a> <br />
        <a class="button" href="@Url.Action("Current", "WorkOrders")"> View Current Orders </a> <br />
        <a class="button" href="@Url.Action("PastOrders", "WorkOrders")"> Work Order History </a>
    </div>
    
</div>

<div class="jumbotron">
    <img style="height:175px; width:175px" src="~/Content/Images/invoice.jpg" />
    <div class="container-right2">
        <a class="button" href="@Url.Action("Create", "Invoices")"> View Current Invoice </a> <br />
        <a class="button" href="@Url.Action("Index", "Invoices")"> Invoice History </a>
    </div>
</div>
