@model IEnumerable<Intex.Models.WorkOrder>

@{
    ViewBag.Title = "PastOrders";
}



<h2>Completed Work Orders</h2>
<h3>Click to see details</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatusID)
        </th>
        <th></th>
    </tr>
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.WorkOrderNum.ToString(), "PastCompounds", new { id = item.WorkOrderNum })
            </td>
            <td>
                @ViewBag.dates[i]
            </td>
            <td>
                @ViewBag.OrderStatus[i].OrderStatusDesc.ToString()
            </td>
            <td>
                @Html.ActionLink("Details", "PastCompounds", new { id = item.WorkOrderNum })
            </td>
        </tr>
        i++;
    }

</table>