@model Intex.Models.Client

@{
    ViewBag.Title = "Delete";
}

<h2>Remove Client Portal</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointOfContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointOfContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointPhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointPhoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
